body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex
    justify-content center;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

.slides{
    width: 800px;
    height: 500px;
    display: flex
}


